// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin-LTE
@import '~admin-lte';

// Fontawesome icon import
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//Vue-select Style
@import "vue-select/src/scss/vue-select.scss";

//Vuetify
@import '~vuetify/dist/vuetify.min.css';

//Vuetify Icons
@import '~@mdi/font/css/materialdesignicons.min.css';

//Temporary custom css

.router-link-exact-active{
    background-color: #045dbd;
    color: white !important;
}

.rubrik-card{
    min-height: 250px;
}
